<div class="body">
    <footer class="footer-32892 pb-0">
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md pr-md-5 mb-4 mb-md-0">
              <h3>About Us</h3>
              <p class="mb-4">
                Our product is a web based music player that allows users to
                listen to their music libraries using a server program on their
                home computer and a web based client to connect to that server and
                stream the music.
              </p>
              <ul class="list-unstyled quick-info mb-4">
                <li>
                  <a class="d-flex align-items-center"
                    ><span class="icon mr-3 icon-phone"></span> +84 9969 239
                    401</a
                  >
                </li>
                <li>
                  <a class="d-flex align-items-center"
                    ><span class="icon mr-3 icon-envelope"></span
                    >sonndh1609.fpt</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md mb-4 mb-md-0">
              <h3>Contact Info</h3>
              <ul class="list-unstyled tweets">
                <li class="d-flex">
                  <div class="mr-4" style="margin-right: 10px">
                    <span class="h5 bi bi-facebook"></span>
                  </div>
                  <div>
                    Facebook is a social networking site that makes it easy for
                    you to connect and share with family and friends online.
                  </div>
                </li>
                <li class="d-flex">
                  <div class="mr-4" style="margin-right: 10px">
                    <span class="h5 bi bi-instagram"></span>
                  </div>
                  <div>
                    Instagram is a free social media platform for sharing photos
                    and videos with your followers.
                  </div>
                </li>
                <li class="d-flex">
                  <div class="mr-4" style="margin-right: 10px">
                    <span class="h5 bi bi-tiktok"></span>
                  </div>
                  <div>
                    TikTok is a video-sharing app that allows users to create and
                    share short-form videos on any topic.
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
              <h3>Images</h3>
              <div class="row gallery">
                <div class="col-6">
                  <a
                    ><img
                      src="assets/img/foot1.avif"
                      alt="Image"
                      class="img-fluid"
                      style="border-radius: 15%"
                  /></a>
                  <a
                    ><img
                      src="assets/img/foot2.jpg"
                      alt="Image"
                      class="img-fluid"
                      style="border-radius: 15%"
                  /></a>
                </div>
                <div class="col-6">
                  <a
                    ><img
                      src="assets/img/foot3.avif"
                      alt="Image"
                      class="img-fluid"
                      style="border-radius: 15%"
                  /></a>
                  <a
                    ><img
                      src="assets/img/foot4.avif"
                      alt="Image"
                      class="img-fluid"
                      style="border-radius: 15%"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  