<app-navbarlisten></app-navbarlisten>
<div class="favourite-list">
    <h1>Your Favourite Songs</h1>
    <div *ngFor="let song of favourites" class="favourite-card">
      <img [src]="song.song_image" alt="Song Image" class="song-image" />
      <div class="song-details">
        <h3>{{ song.title }}</h3>
        <p>Genre: {{ song.genre }}</p>
        <audio controls>
          <source [src]="song.song_file" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>
  
