.content {
    padding: 2rem;
    margin-top: 50px; /* Adjust to navbar height */
  }
.single-homepage-slider {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  .slider-img{
    width: 2000px;
    height: 700px;
  }