<div class="row text-center">
    <div class="col-3">
      <div class="logo">
        <a>
          <img src="assets/img/logo.jpg" alt="" style="width: 100px" />
        </a>
      </div>
    </div>
    <div class="col-7">
      <ul class="nav" style="margin-top: 15px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="artist">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="artistsong">List Music</a>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <div class="col text-end" style="margin-top: 15px; margin-right: 50px;">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <i class="bi bi-person-circle"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  