<div class="create-paper-container">
    <h2>Create New Paper</h2>
    <form (ngSubmit)="createPaper()" #paperForm="ngForm">
      <div class="form-group">
        <label for="song">Song:</label>
        <select id="song" name="songID" [(ngModel)]="paper.songID" required>
          <option *ngFor="let song of songs" [value]="song.songID">{{ song.song_name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="user">User:</label>
        <select id="user" name="userID" [(ngModel)]="paper.userID" required>
          <option *ngFor="let user of users" [value]="user.userID">{{ user.user_name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea id="content" name="content" [(ngModel)]="paper.content" required></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" id="image" name="paper_image" (change)="onImageSelect($event)" />
      </div>
      <button type="submit" [disabled]="!paperForm.valid">Create Paper</button>
    </form>
    <p class="help-text" >
        <a routerLink="/users">Back to List Paper</a>
      </p>
  </div>
  
