<div class="body">
    <form (ngSubmit)="onReset()" #resetForm="ngForm">
         <h1>Forgot Password</h1>
    <label for="password">New Password</label>
      <input type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
      minlength="6"
      class="form-control"
      placeholder="Enter your new password"
      #passwordInput="ngModel">
      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
        Password must be at least 6 characters.
      </div>
    <label for="cnfrm-password">Confirm Password</label>
     <input type="password"
     id="confirmPassword"
     [(ngModel)]="confirmPassword"
     name="confirmPassword"
     required
     class="form-control"
     placeholder="Confirm your new password"
     #confirmPasswordInput="ngModel">
     <div
        *ngIf="confirmPassword !== password && confirmPasswordInput.touched"
        class="error"
      >
        Passwords do not match.
      </div>
      <br>
      <div class="form-group">
        <button
          type="button"
          class="btn btn-primary btn-block"
          [disabled]="resetForm.invalid || confirmPassword !== password"
        >
          Reset Password
        </button>
      </div>
      <p class="help-text">
        <a routerLink="/login">Back to Login</a>
      </p>
    </form>
   </div>
   