


    .body{
        background-color: #0b1828;
    }

    .body a{
        text-decoration: none;
    }

    *{
        box-sizing: border-box;
    }

    .img-container img{
        width: 100%;
        height:100%;
        object-fit: cover;
        animation: rotate_in 1s ease;
    }

    .img-container{

        height: 620px;
        position: relative;
        overflow: hidden;
    }

    .img-container::after{

        content: '';
        width:60px;
        height: 100%;
        position: absolute;
        transform: skew(5deg);
        top:0px;
        right:-30px;
        background-color: #203349;
    }

    .form-container{
        position: relative;
        height: 100%;
        background-color: #203349;
    }

    .login-button{

        position: absolute;
        left:-100px;
        top:30px;
        background-color: white;
        padding: 10px 20px;
        border-radius: 20px;
        color: #203349;
        cursor: pointer;
    }

    .signup-button{

        position: absolute;
        left:-100px;
        top:80px;
        background-color: white;
        padding: 10px 20px;
        border-radius: 20px;
        color: #203349;
        cursor: pointer;
    }

    .button-selected{
        background-color: #203349;
        color: white;
    }

    .content{
        height: 100%;
        width: 100%;
        max-width: 1020px
    }

    form{
        z-index: 10;
        position: relative;
    }

    .hide{
        display: none;
    }

